@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');



.ghost-button {
  position: relative;
  background-color: #60CCE7;
  border: none;
  font-size: 15px;
  color: #192C46;
  padding: 5px;
  width: auto;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  margin: 3px;
}

.ghost-button:after {
  content: "";
  background: #192C46;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.ghost-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.yellow {
  background-color: #F3B700;
  color: black;
}

.raspberry {
  background-color: #EA0051;
  color: white;
  
}

.green {
  background-color: #3A817B;
  color: white;
  
}